h1 {
  color: red;
}

body {
  margin: 0 auto;
  text-align: center;
}

table {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  font-size: 30px;
}

td {
  text-align: center;
  border: 1px solid grey;
  width: 80px;
  height: 80px;
}
